<%= provide :title, t("layouts.header.cart") %>

<div class="row">
  <div class="col-md-9 pd-top-20">
    <%= render "cart" %>
  </div>

  <div class="col-md-3 pd-10">
    <%= render "order_form" %>
  </div>
</div>
