<%= provide :title, t(".title") %>
<% provide :button_text, t(".submit") %>

<div class="authentication_container">
    <div class="form_container">
      <h1><%= t ".welcome" %></h1>
      <%= render "form" %>
    </div>
</div>
