@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'color.scss';

main {
  background-color: $gray-background;
  min-height: 100vh;
  padding-top: 30px;
}

#error_explanation {
  color: $red;

  ul {
    color: $red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.wrapper {
  padding: 2rem;
}

.products ul {
  display: inline-block;
}

.products ul .main-product {
  margin-bottom: 2rem;
  margin-right: 1rem;
  display: block;
  float: left;
  width: 24%;
}

.products ul .no-margin {
  margin-right: 0;
}

.products ul .img-product img {
  width: 100%;
}

.content-product .content-product-h3 {
  padding: .5rem 0;
  overflow: hidden;
  color: $gray-darker;
  font-weight: 500;
  font-size: 16px;
  max-height: 50px;
  min-height: 50px;
  text-align: center;
  line-height: 19px;
  margin: 0 0 5px;
}

.content-product .content-product-details {
  display: flex;
  justify-content: center;
}

.main-product .content-product .content-product-details .price {
  color: $yellow-darker;
  font-weight: 700;
  margin-right: 1rem;
  vertical-align: middle;
  font-size: 20px;
}

.content-product .content-product-details .price .money {
  vertical-align: middle;
}

.content-product .content-product-details .btn-cart {
  background: $yellow-darker;
  border-radius: 5px;
  color: $white;
  font-weight: 500;
}

.content-product .content-product-details .btn-cart:hover {
  background: $orange-dark;
}

.home {
  hr {
    margin: 0;
  }
}

// form sign in, sign out
.authentication_container {
  height: 80vh;
  position: relative;

  .form_container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    box-shadow: 0 10px 10px $box-shadow-normal;
    box-sizing: border-box;
    padding: 20px;
    background-color: $white;
    border-radius: 10px;

    h1 {
      text-align: center;
    }

    input {
      width: 100%;
      height: 40px;
      font-size: 14px;
      padding-left: 18px;
      border-radius: 10px;
      outline: none;
      border: 1px solid $gray-medium-light;
      margin-bottom: 20px;
    }
  }
}

